<html>

<head>



  <!--  external css and javascripts-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> This is user page</title>
  

	<link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/hexagons.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>






<!--  adding css-->
<style>
   /* General Button Style */
  

.hexagon-gallery {
  margin: auto;
  margin-top: 2px;
  max-width: 400px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: 75px;
  grid-gap: 2px;
  padding-bottom: 2px;
}

.hex {
  display: flex;
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #6ab2db;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hex:first-child {
  grid-row-start: 1;
  grid-column: 2 / span 2;
}

.hex:nth-child(2) {
  grid-row-start: 1;
  grid-column: 4 / span 2;
}

.hex:nth-child(3) {
  grid-row-start: 2;
  grid-column: 1 / span 2;
}

.hex:nth-child(4) {
  grid-row-start: 2;
  grid-column: 3 / span 2;
}

.hex:nth-child(5) {
  grid-row-start: 2;
  grid-column: 5 / span 2;
}



.button {
	display:block;
	position: relative;
	background: #fff;
	width:100px;
	height:80px;
	line-height:80px;
	text-align:center;
	font-size:20px;
	text-decoration:none;
	text-transform:uppercase;
	color:#e04e5e;
	margin:40px auto;
	font-family:Helvetica, Arial, sans-serif;
	box-sizing:border-box;
}

/* Button Border Style */
.button.border {
		border-top:4px solid #e04e5e;
		border-bottom:4px solid #e04e5e;
}
.button.border:hover {
	background:#e04e5e;
	color:#fff;
}

/* Button Ribbon-Outset Border Style */
.button.ribbon-outset.border:after, .button.ribbon-outset.border:before {
		top: 50%;
		content: " ";
		height: 42px;
		width: 42px;
		position:absolute;
		pointer-events: none;
		background:#fff;
	}
	.button.ribbon-outset.border:after {
		left:0;
		margin-top:-40px;
		transform-origin:0 0;
		box-sizing:border-box;
		border-bottom:5px solid #e04e5e;
		border-left:5px solid #e04e5e;
		transform:rotate(45deg) skew(19deg,19deg);
	}
	.button.ribbon-outset.border:before {
		right:-42px;
		margin-top:-40px;
		transform-origin:0 0;
		box-sizing:border-box;
		border-top:5px solid #e04e5e;
		border-right:5px solid #e04e5e;
		transform:rotate(45deg) skew(19deg,19deg);
	}
	.button.ribbon-outset.border:hover:after {
		background:#e04e5e
	}
	.button.ribbon-outset.border:hover:before {
		background:#e04e5e
	}
    .h-zigzag {
    height:600px;
    width:100%px;
    background:
        linear-gradient(45deg, #152E4E  5px, transparent 0) 0 5px,
        linear-gradient(-45deg, #152E4E  5px, #fff 0) 0 5px;
    background-color: #152E4E ;
    background-position: right top;
    background-repeat: repeat-x;
    background-size: 10px 10px;
 
}
</style>
</head>
<body style="margin:30px; padding:30px">
  
    

  















    <!-- Nav bar coding -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="images\we.png" width="30" height="30" class="d-inline-block align-top" alt="">
            
          </a>
        
        
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul  class="navbar-nav">
            
            <li style="padding-left:30px" class="nav-item active">
              <a class="navbar-brand" href="#">Home</a>
            </li>
            <li style="padding-left:40px" class="nav-item active">
              <a class="navbar-brand" href="#">Doctor</a>
            </li>
            <li style="padding-left:40px" class="nav-item active">
              <a class="navbar-brand" href="#">Products</a>
            </li>
            <li style="padding-left:40px" class="nav-item active">
              <a class="navbar-brand" href="#">Services</a>
            </li>
            <li style="padding-left:40px" class="nav-item active">
                <a class="navbar-brand" href="#">Entertainment</a>
              </li>
              <li style="padding-left:40px" class="nav-item active">
                <a class="navbar-brand" href="#">Bolgs</a>
              </li>
              <li style="padding-left:40px" class="nav-item active">
                <button style="border-radius:12px" type="button" class="btn btn-dark btn-sm navbar-brand">Login/Signup</button>
                
              </li>
          </ul>
        </div>
      </nav>
      <!-- nav bar code completed-->

  
  
  
  
  
  
  
  
      <!-- family image-->
    <div>
        <img  src="/images/family.jpg" width="100%" height="300px">
    </div>
    <!-- family image added-->

















    <!-- adding button area-->
    <div style="width:100%;margin-bottom:30px;height:300px">
      <div style="width:50%;float:left;margin-top:100px">
        <h3 style="padding-left:5px;color:slategray">Best</h3>
        <h1 style="padding-left:15px;color:#6ab2db">     Solutions</h1>
      </div>
      <div style="width:50%;float:left;margin-top:50px;text-align: center;">
        <section class="hexagon-gallery">
          <div class="hex" style="margin:auto"><a href="/img">Disease1</a></div>
          <div class="hex"></div>
          <div class="hex"></div>
          <div class="hex"></div>
          <div class="hex"></div>
          
        </section>
      </div>
    </div>
    <!-- button area added-->



















    <!-- zigzag border area -->
    <div style="margin-top:50px;margin-bottom:0px;" class="h-zigzag">
    <h3 style="text-align: center;color:white">Forum</h3><br />
    <p style="color:white;padding-left:5px;padding-right:5px">people can discuss anything here like 1 has query or wants to discuss something so she can drop in a query anonymously and others can join the discussion below and give their opinion!</p>
    <!-- adding card images-->
    <div style="width:100%; margin:0px">
    <div  style="border-radius:10px;background-color:rgb(120, 120, 163);text-align:center;width:35%; margin-left:50px; float:left;" class="card" style="width: 18rem;">
        <img class="card-img-top" src="images/person1.jpg" width="280px" height="300px" alt="Card image cap">
        <div style="margin:auto;" class="card-body">
          <a href="#" class="btn btn-primary">Drop in a query</a>
        </div>
      </div>
      <div style="border-radius:10px;background-color:rgb(120, 120, 163);text-align:center;width:35%; margin-right:50px; float:right;" class="card" style="width: 18rem;">
        <img class="card-img-top" src="images/person2.jpg" width="280px" height="300px" alt="Card image cap">
        <div style="margin:auto;" class="card-body">
                    <a  href="#" class="btn btn-primary">Join the dsicussion</a>
        </div>
      </div>
    </div>
    <!-- added card images-->
</div>
<!-- zigzag border area added-->




















<!-- adding consult specialist area-->
<div style="background-color:rgb(138, 138, 192);display:inline-block">
<h1> Consult </h1>

<div style="display:inline-block">
<% for (var i =0; i <4;  i++ ) { %>
  <div style="width:20%;float:left;margin:2.5%;" class="card">
    <img class="card-img-top" src="/images/doctor_images/<%= result1[i].doctor_id%>" width="200px" height="200px" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= result1[i].name %></h5>
      <p class="card-text"><%= result1[i].specialization %></p>
      <a style="margin:auto" href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
     
  <% } %>
  <a href="/" style="float:right">view all>></a>
</div>
</div>
 <!-- added consult specialist area-->   
    




















<!-- adding product selling area-->
<div style="width:100%;display:inline-block">
  <div style="width:20%">
<img style="float:left" src="/images/shop.jpg" width="200px" height="400px" alt="text">
</div>
<div style="width:100%;text-align: center;">

  <% for (var i =0; i <4;  i++ ) { %>
    <div style="width:auto;float:left;margin:1.5%;" class="card">
      <img class="card-img-top" src="/images/product_image/<%= result2[i].product_id%>" width="200px" height="200px" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= result2[i].name %></h5>
        <p class="card-text"><%= result2[i].specialization %></p>
        <a style="margin:auto" href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <% } %>
    
      <a href="/" style="float:right">view all>></a>
    </div>
</div>
<!-- adding product selling area-->

















<!-- adding blog area-->
<div style="display:inline-block;width:100%;height: 100%;margin-top:50px">

<img style="float:left" src="images/blog.png" width="70%" height="100%">
<img style="float:left" src="images/blog2.png" width="30%" height="100%">
</div>


<div style="display:inline-block;background-color:#E3F1F4;width:100%">
<h1 style="float:left;background-color: #E3F1F4"> working for healthy you</h1>
<a style="float:right;background-color: #E3F1F4" href="/"> view all</a>
</div>
<div style="display:inline-block;background-color: #E3F1F4;width:100%;margin-top: 0px">
<p style="width:50%;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
is simply dummy text of the printing and typesetting industry.</p>
</div>
<!-- blog area added-->






















<!-- adding footer area-->
<div style="width:100%; margin-top:100px">
 <a style="padding-left:150px" href="#">About</a>
 <a style="padding-left:250px" href="#">Contact</a>
 <a style="padding-left:250px" href="#">NewsLetter</a>
 <br>
 <a style="margin-top:30px;padding-left:150px;color:black" href="#">Terms of use</a>
 <a style="padding-top:30px;padding-left:190px;color:black" href="#">Shipping</a>
 <br>
 <a style="padding-top:20px;padding-left:150px;color:black" href="#">Privacy Policy</a>
 <a style="padding-top:20px;padding-left:180px;color:black" href="#">Others</a>
 <br>
 <a style="padding-top:20px;padding-left:150px;color:black" href="#">Careers</a>
 

</div>
<!-- footer area added-->

<!--social media attaching-->
<div style="float:right">
  <a href="#"><span class="hb hb-xs"><i class="fa fa-facebook"></i></span></a>
		<a style="margin-left:20px" href="#"><span class="hb hb-xs"><i class="fa fa-twitter"></i></span></a>
		
    <a style="margin-left:20px" href="#"><span class="hb hb-xs"><i class="fa fa-linkedin-square"></i></span></a>
  
</div>
<!--social media attached-->











</body>
</html>